# 字典与列表的常用用法

字典中可以有列表成员，列表中也可以有字典成员，根据具体业务情况决定如何构建字典与列表

## 列表作为字典成员

### 常见情景

构建某物品字典，其中某个成员具有多个子成员。

比如某个fund，其名下有多个share

### 示例

In [1]:
fund_info = {'id': 'FXXXX001',
             'name': 'Invesco Peak Retirement™ 2010 Fund',
             'shares': ['Class A', 'Class B', 'Class C']}

### 可以将字典作为json文件导出到磁盘

In [24]:
import json
import os

将数据导出到json文件

In [8]:
# 定义文件储存文件夹，如果不存在，则创建
# 文件夹建议使用这种相对路径，好处就是可以不用考虑部署环境，
# 只要有磁盘空间，不会因为路径报错的
# 对于文件处理，建议保持这样的习惯，同时也避免bug的产生
save_folder = r'./json/'
if not os.path.exists(save_folder):
    os.makedirs(save_folder)
with open(os.path.join(save_folder, 'fund.json'), mode='w', encoding='utf-8') as f:
    json.dump(fund_info, f)

将导出的json文件读入一个字典变量

In [10]:
with open(os.path.join(save_folder, 'fund.json'), mode='r', encoding='utf-8') as f:
    fund_copy = json.load(f)
    print(fund_copy)

{'id': 'FXXXX001', 'name': 'Invesco Peak Retirement™ 2010 Fund', 'shares': ['Class A', 'Class B', 'Class C']}

In [11]:
type(fund_copy)

dict

## 字典作为列表成员

### 常见情景

想象我们在处理一张Excel表格中数据，数据应该是二维表。

二维表的数据集就是一张列表，而每一行数据的表标题是相同的，亦即对应一条key相同的字典变量。

### 示例

构建成员为字典的列表，最常用的手法是：
1. 先定义一个列表变量
2. 遍历源数据
3. 在每一次遍历中构建一个字典变量，
4. 字典变量构建完成之后，将其添加到列表变量中

In [13]:
data_list = []

In [14]:
for i in range(10):
    data_dict = {'id': i, 'name': 'name_{0}'.format(i)}
    data_list.append(data_dict)

In [15]:
print(data_list)

[{'id': 0, 'name': 'name_0'}, {'id': 1, 'name': 'name_1'}, {'id': 2, 'name': 'name_2'}, {'id': 3, 'name': 'name_3'}, {'id': 4, 'name': 'name_4'}, {'id': 5, 'name': 'name_5'}, {'id': 6, 'name': 'name_6'}, {'id': 7, 'name': 'name_7'}, {'id': 8, 'name': 'name_8'}, {'id': 9, 'name': 'name_9'}]

### 可以将成员为字典的变量，导出为csv

导出csv的方法有很多，这里使用pandas先读入数据，然后利用pandas自身的导出功能导出csv

In [16]:
import pandas as pd

In [20]:
# 装载数据到pandas的DataFrame对象
data = pd.DataFrame(data_list)

In [21]:
data

   id    name
0   0  name_0
1   1  name_1
2   2  name_2
3   3  name_3
4   4  name_4
5   5  name_5
6   6  name_6
7   7  name_7
8   8  name_8
9   9  name_9

In [25]:
save_folder = r'./csv/'
if not os.path.exists(save_folder):
    os.makedirs(save_folder)
csv_file = os.path.join(save_folder, 'dict_list_sample.csv')

将数据导出为csv

In [26]:
data.to_csv(csv_file, sep=',')

将导出的csv文件读取到pandas

In [32]:
# 注意：index_col=0是必要的，因为此文写入的例子，索引自动保存为第一列，将第一列作为索引即可
data_copy = pd.read_csv(csv_file, encoding='utf-8', sep=',', index_col=0)

In [33]:
data_copy

   id    name
0   0  name_0
1   1  name_1
2   2  name_2
3   3  name_3
4   4  name_4
5   5  name_5
6   6  name_6
7   7  name_7
8   8  name_8
9   9  name_9