# 循环语句
Python中的循环语句有 for 和 while， Python循环语句的控制结构图如下所示

![循环语句](./image/while_loop_1.png)

## while循环
* while 判断条件:
<br>&nbsp;&nbsp;&nbsp;&nbsp;语句
* 同样需要注意冒号和缩进。另外，在Python中没有do..while循环

以下实例使用了 while 来计算 1 到 100 的总和

In [1]:
n = 100
sum = 0
counter = 1
while counter <= n:
    sum = sum + counter
    counter += 1

print("1 到 %d 之和为: %d" % (n,sum))

1 到 100 之和为: 5050

In [2]:
output = ['从前有座山, ', 
          '山上有座庙。',
          '庙里有个老和尚，', 
          '有一天，老和尚对小和尚说：']
count = 0
while count <=20:
    print(output[count % 4])
    count += 1
print("...")

从前有座山,
山上有座庙。
庙里有个老和尚，
有一天，老和尚对小和尚说：
从前有座山,
山上有座庙。
庙里有个老和尚，
有一天，老和尚对小和尚说：
从前有座山,
山上有座庙。
庙里有个老和尚，
有一天，老和尚对小和尚说：
从前有座山,
山上有座庙。
庙里有个老和尚，
有一天，老和尚对小和尚说：
从前有座山,
山上有座庙。
庙里有个老和尚，
有一天，老和尚对小和尚说：
从前有座山,
...

### 无限循环
我们可以通过设置条件表达式永远不为 false 来实现无限循环
无限循环在服务器上客户端的实时请求非常有用

In [3]:
var = 1
while var == 1 :  # 表达式永远为 true
    num = int(input("输入一个数字  :"))
    print ("你输入的数字是: ", num)
    
print("Good bye!")

输入一个数字  :34132
你输入的数字是:  34132
输入一个数字  :13414
你输入的数字是:  13414
输入一个数字  :1
你输入的数字是:  1
输入一个数字  :dfa

ValueError: invalid literal for int() with base 10: 'dfa'

### while 循环使用 else 语句
在 while … else 在条件语句为 false 时执行 else 的语句块

In [5]:
count = 0
while count < 5:
    print (count, " 小于 5")
    count = count + 1
else:
    print (count, " 大于或等于 5")

0  小于 5
1  小于 5
2  小于 5
3  小于 5
4  小于 5
5  大于或等于 5

## for语句
* Python for循环可以遍历任何序列的项目，如一个列表或者一个字符串
* for循环的一般格式如下
* for 变量 in 可枚举变量:
    <br>&nbsp;&nbsp;&nbsp;&nbsp;语句
    <br>else:
    <br>&nbsp;&nbsp;&nbsp;&nbsp;语句

In [6]:
languages = ["C", "C++", "Perl", "Python"]
for x in languages:
    print(x)

C
C++
Perl
Python

break语句，用于跳出当前循环体

In [7]:
sites = []
sites = ["Baidu", "Google","Morningstar","Taobao"]
for site in sites:
    if site == "Morningstar":
        print("晨星")
        break
    print("循环数据 " + site)
else:
    # 对于break跳出循环的场景，不会执行该语句
    print("没有循环数据!")
print("完成循环!")

循环数据 Baidu
循环数据 Google
晨星
完成循环!

### range()函数
如果你需要遍历数字序列，可以使用内置range()函数。它会生成数列

In [9]:
for i in range(10):
    print(i)
print()
for i in range(5, 10):
    print(i)
print(range(10))
# 迭代器转列表
print(list(range(10)))

0
1
2
3
4
5
6
7
8
9

5
6
7
8
9
range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

也可以使range以指定数字开始并指定不同的增量(甚至可以是负数，有时这也叫做'步长'):

In [10]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

In [11]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

您可以结合range()和len()函数以遍历一个序列的索引,如下所示

In [12]:
a = ['Google', 'Baidu', 'Morningstar', 'Taobao', 'QQ']
for i in range(len(a)):
    print(i, a[i])

for index, member in enumerate(a):
    print(index, member)

0 Google
1 Baidu
2 Morningstar
3 Taobao
4 QQ
0 Google
1 Baidu
2 Morningstar
3 Taobao
4 QQ

通过range()函数生成一个列表

In [18]:
print(range(7))
print(type(range(7)))
print(list(range(7)))

range(0, 7)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6]

<font color='red'><b>Python内置有枚举器: enumerate，使用这个更方便：</b></font>

In [2]:
for index, member in  enumerate(['Google', 'Baidu', 'Morningstar', 'Taobao', 'QQ']):
    print(index, member)

0 Google
1 Baidu
2 Morningstar
3 Taobao
4 QQ

### break和continue语句及循环中的else子句
* break 语句可以跳出 for 和 while 的循环体。
* continue语句，跳过当前循环语句，继续下一次循环。
* 如果你从 for 或 while 循环中终止，任何对应的循环 else 块将不执行

In [17]:
# 重点！
for letter in 'Morningstar':     # 第一个实例
    if letter.lower() == 'o':         # 对字母做判断，建议先进行lower或upper转换，这样可以匹配更多情景
#         pass
        break
    print ('当前字母为 :', letter)

print()

var = 10                    # 第二个实例
while var > 0:              
    print ('当期变量值为 :', var)
    var = var - 1
    if var == 5:
        break

print ("Good bye!")

当前字母为 : M

当期变量值为 : 10
当期变量值为 : 9
当期变量值为 : 8
当期变量值为 : 7
当期变量值为 : 6
Good bye!

In [18]:
for letter in 'Morningstar':     # 第一个实例
    if letter.lower() == 'a':        # 字母为 o 时跳过输出
        continue
    print ('当前字母 :', letter)

print()
var = 10                    # 第二个实例
while var > 0:              
    var = var -1
    if var == 5:             # 变量为 5 时跳过输出
        continue
    print ('当前变量值 :', var)
print ("Good bye!")

当前字母 : M
当前字母 : o
当前字母 : r
当前字母 : n
当前字母 : i
当前字母 : n
当前字母 : g
当前字母 : s
当前字母 : t
当前字母 : r

当前变量值 : 9
当前变量值 : 8
当前变量值 : 7
当前变量值 : 6
当前变量值 : 4
当前变量值 : 3
当前变量值 : 2
当前变量值 : 1
当前变量值 : 0
Good bye!

循环语句可以有 else 子句，它在穷尽列表(以for循环)或条件变为 false (以while循环)导致循环终止时被执行,但循环被break终止时不执行。

如下实例用于查询质数的循环例子:

In [19]:
for n in range(2, 100):
    for x in range(2, n):
        if n % x == 0:
            print(n, '等于', x, '*', n//x)
            break
    else:
        # 循环中没有找到元素
        print(n, ' 是质数')

2  是质数
3  是质数
4 等于 2 * 2
5  是质数
6 等于 2 * 3
7  是质数
8 等于 2 * 4
9 等于 3 * 3
10 等于 2 * 5
11  是质数
12 等于 2 * 6
13  是质数
14 等于 2 * 7
15 等于 3 * 5
16 等于 2 * 8
17  是质数
18 等于 2 * 9
19  是质数
20 等于 2 * 10
21 等于 3 * 7
22 等于 2 * 11
23  是质数
24 等于 2 * 12
25 等于 5 * 5
26 等于 2 * 13
27 等于 3 * 9
28 等于 2 * 14
29  是质数
30 等于 2 * 15
31  是质数
32 等于 2 * 16
33 等于 3 * 11
34 等于 2 * 17
35 等于 5 * 7
36 等于 2 * 18
37  是质数
38 等于 2 * 19
39 等于 3 * 13
40 等于 2 * 20
41  是质数
42 等于 2 * 21
43  是质数
44 等于 2 * 22
45 等于 3 * 15
46 等于 2 * 23
47  是质数
48 等于 2 * 24
49 等于 7 * 7
50 等于 2 * 25
51 等于 3 * 17
52 等于 2 * 26
53  是质数
54 等于 2 * 27
55 等于 5 * 11
56 等于 2 * 28
57 等于 3 * 19
58 等于 2 * 29
59  是质数
60 等于 2 * 30
61  是质数
62 等于 2 * 31
63 等于 3 * 21
64 等于 2 * 32
65 等于 5 * 13
66 等于 2 * 33
67  是质数
68 等于 2 * 34
69 等于 3 * 23
70 等于 2 * 35
71  是质数
72 等于 2 * 36
73  是质数
74 等于 2 * 37
75 等于 3 * 25
76 等于 2 * 38
77 等于 7 * 11
78 等于 2 * 39
79  是质数
80 等于 2 * 40
81 等于 3 * 27
82 等于 2 * 41
83  是质数
84 等于 2 * 42
85 等于 5 * 17
86 等于 2 * 43
87 等于 3 * 29
88 等于 2 * 44
89  是质数
90 等于 2 * 45
91 等于 7 * 13
92 等于 2 * 46
93 等于 3 * 31
94 等于 2 * 47
95 等于 5 * 19
96 等于 2 * 48
97  是质数
98 等于 2 * 49
99 等于 3 * 33

### Pass语句
Python pass是空语句，是为了保持程序结构的完整性。一般情况下，只是为了防止语法错误，用于做逻辑块预留。

pass 不做任何事情，一般用做占位语句，如下实例

In [12]:
# 没事情的时候，千万不要执行
while True:
    pass  #等待键盘中断，在jupyte notebook, 需要点击interrupt按钮

KeyboardInterrupt:

In [20]:
for letter in 'Morningstar': 
    if letter == 'o':
        pass
        print ('执行 pass 块')
    print ('当前字母 :', letter)

print ("Good bye!")

当前字母 : M
执行 pass 块
当前字母 : o
当前字母 : r
当前字母 : n
当前字母 : i
当前字母 : n
当前字母 : g
当前字母 : s
当前字母 : t
当前字母 : a
当前字母 : r
Good bye!

for 循环 1-100 所有整数的和

In [21]:
n = 0
sum = 0
for n in range(0,101):# n 范围 0-100
    sum += n
#     sum = sum + n
print(sum)

5050

In [22]:
%%time
#%%prun
import pandas as pd
from IPython.display import display, HTML

df = pd.read_csv('./csv/vanameextraction_168203073.csv', encoding='utf-16', sep="\t")
for index, row in df.head().iterrows():
#     print('row: {0}, docrawname is :{1}'.format(index, row[3]))
    print('row: {0}, docrawname is :{1}'.format(index, df.loc[index, "dmname"]))
# print(df.head())
display(df.head())
display(HTML(df.head().to_html()))
display(df.tail())

row: 0, docrawname is :Putnam VT Capital Opportunities Fund Class IB
row: 1, docrawname is :Putnam VT Capital Opportunities Fund Class IB
row: 2, docrawname is :Putnam VT Capital Opportunities Fund Class IB
row: 3, docrawname is :Putnam VT Diversified Income Fund Class IB
row: 4, docrawname is :Putnam VT Diversified Income Fund Class IB

,Unnamed: 0,docid,policyid,subaccountid,secid,status,dmname,docrawname
0,0,168203073,VPUSA0009R,VAUSA058DQ,FVUSA04ABP,1,Putnam VT Capital Opportunities Fund Class IB,putnam vt capital opportunities fund  class ib
1,1,168203073,VPUSA000AQ,VAUSA058DL,FVUSA04ABP,1,Putnam VT Capital Opportunities Fund Class IB,putnam vt capital opportunities fund  class ib
2,2,168203073,VPUSA000G6,VAUSA058DH,FVUSA04ABP,1,Putnam VT Capital Opportunities Fund Class IB,putnam vt capital opportunities fund  class ib
3,0,168203073,VPUSA0009R,VAUSA00C6M,FVUSA001Q9,1,Putnam VT Diversified Income Fund Class IB,putnam vt diversified income fund  class ib
4,1,168203073,VPUSA000AQ,VAUSA00EFZ,FVUSA001Q9,1,Putnam VT Diversified Income Fund Class IB,putnam vt diversified income fund  class ib

,Unnamed: 0,docid,policyid,subaccountid,secid,status,dmname,docrawname
85,85,168203073,VPUSA000G6,VAUSA00CT4,FVUSA000YW,0,Putnam VT Mortgage Securities Fund Class IA,NaN
86,86,168203073,VPUSA000G6,VAUSA00D5T,FVUSA00120,0,Putnam VT New Value IB,NaN
87,87,168203073,VPUSA000G6,VAUSA00DZ4,FVUSA000UN,1,Putnam VT Multi-Cap Core Fund Class IB,NaN
88,88,168203073,VPUSA000G6,VAUSA00P6N,FVUSA001VW,0,Putnam VT Discovery Growth IB,NaN
89,89,168203073,VPUSA000G6,VAUSA00QT1,FVUSA002RM,0,Putnam VT Capital Appreciation IB,NaN

Wall time: 2.09 s

99乘法表

In [24]:
i=1
while i<=9:
    #里面一层循环控制每一行中的列数
    j=1
    while j<=i:
        mut =j*i
        print("%d*%d=%d"%(j,i,mut), end="  ")
#         print("")
        j+=1
    print("")
    i+=1

TypeError: not all arguments converted during string formatting

### 冒泡排序
解析：很经典的排序方式，从数组中的第0个元素开始，与后面一个元素进行比较，如果前面的元素大于后面的元素，就调换位置，循环到最后（即：a0与a1比较得到结果后，a1与a2比较...），最大的元素被换到数组最末尾，剔除掉最后一个元素，在余下的数组元素中进行上述操作，到最后，整个数组呈现从小到大的排序

In [25]:
def paixu(li) :
    max = 0
    for ad in range(len(li) - 1):
        for x in range(len(li) - 1 - ad):
            if li[x] > li[x + 1]:
                max = li[x]
                li[x] = li[x + 1]
                li[x + 1] = max
            else:
                max = li[x + 1]
    print(li)
paixu([41,23344,9353,5554,44,7557,6434,500,2000])

[41, 44, 500, 2000, 5554, 6434, 7557, 9353, 23344]

很多时候，我们不需要自己写冒泡排序算法，使用sorted即可

In [26]:
print(sorted([41,23344,9353,5554,44,7557,6434,500,2000]))

[41, 44, 500, 2000, 5554, 6434, 7557, 9353, 23344]

In [28]:
lis = [41,23344,9353,5554,44,7557,6434,500,2000]
for mem in reversed(sorted(lis)):
    print(mem)

23344
9353
7557
6434
5554
2000
500
44
41

In [25]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None